*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    width: 100%;
    margin: 20px;
}

.flex-container div{
    background-color: red;
    color: yellow;
    font-size: 3rem;
    width: 20%;
    height: 20vw;
    margin: 5px;
}

div:nth-child(2){
    background-color: black;
    color: white;
}

